<app-encabezado titulo="Cards"></app-encabezado>
<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Hola soy un subtitulo
      </ion-card-subtitle>
      <ion-card-title>
        Hola soy un Titulo
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Hola, soy el contenido de un card.
    </ion-card-content>
  </ion-card>

  <ion-card class="primary">
    <ion-item>
      <ion-icon name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Soy el contenido de este card
    </ion-card-content>
  </ion-card>

</ion-content>
